In [11]:
import pandas as pd 
import os

# 2016-2021 Baseball Stats
- Using Kaggle Dataset Found [HERE](https://www.kaggle.com/datasets/josephvm/mlb-game-data)
- The cubs won 16-0 in Los Angelos so I was curious if this had ever even come close to happening before

In [24]:
pd.set_option('display.max_columns', None)

In [ ]:
# Example: CSV is in a folder called 'data'
games = pd.read_csv('/Documents/API-fun/mlb_game_data/games.csv')
inningScore = pd.read_csv('/Documents/API-fun/mlb_game_data/inningScore.csv')

# View the first few rows
#print(games.head(1))
#print(inningScore.head(1))
print(games.dtypes)
print(inningScore.dtypes)

Game                           int64
away                          object
away-record                   object
awayaway-record               object
home                          object
home-record                   object
homehome-record               object
away-score                   float64
home-score                   float64
postseason info               object
Walks Issued - Away          float64
Walks Issued - Home          float64
Stolen Bases - Away          float64
Stolen Bases - Home          float64
Strikeouts Thrown - Away     float64
Strikeouts Thrown - Home     float64
Total Bases - Away           float64
Total Bases - Home           float64
Stadium                       object
Date                          object
Location                      object
Odds                          object
O/U                           object
Attendance                    object
Capacity                      object
Duration                      object
Umpires                       object
WIN - Pitcher - Stats         object
WIN - Pitcher - Id           float64
WIN - Pitcher - Name          object
WIN - Pitcher - AbbrName      object
WIN - Pitcher - Record        object
LOSS - Pitcher - Stats        object
LOSS - Pitcher - Id          float64
LOSS - Pitcher - Name         object
LOSS - Pitcher - AbbrName     object
LOSS - Pitcher - Record       object
SAVE - Pitcher - Stats        object
SAVE - Pitcher - Id          float64
SAVE - Pitcher - Name         object
SAVE - Pitcher - AbbrName     object
SAVE - Pitcher - Record       object
Extra Innings                 object
dtype: object
Team     object
1         int64
2         int64
3         int64
4         int64
5         int64
6        object
7        object
8        object
9        object
R         int64
H         int64
E         int64
Game      int64
10      float64
11      float64
12      float64
13      float64
14      float64
15      float64
16      float64
17      float64
18      float64
19      float64
dtype: object

In [60]:
# Specify the key to join on (e.g., 'id'), and the columns to keep from df2
key = 'Game'
columns_to_keep = ['Game','Date', 'Odds', 'O/U','home-score','away-score']  # example columns from df2

In [61]:
# Merge the two dataframes on the key, keeping only selected columns from df2
merged_df = pd.merge(inningScore, games[columns_to_keep], on=key, how='inner')  # 'inner' can be changed to 'left', 'right', etc.

In [62]:
# View the result
print(merged_df.head())

  Team  1  2  3  4  5  6  7  8  9  R  H  E       Game  10  11  12  13  14  15  \
0  STL  0  0  0  0  0  0  0  0  1  1  5  0  360403123 NaN NaN NaN NaN NaN NaN
1  PIT  0  2  0  0  0  1  0  1  -  4  9  1  360403123 NaN NaN NaN NaN NaN NaN
2  TOR  2  0  0  1  0  0  0  2  0  5  7  2  360403130 NaN NaN NaN NaN NaN NaN
3   TB  0  0  1  0  0  0  0  0  2  3  7  1  360403130 NaN NaN NaN NaN NaN NaN
4  NYM  0  0  0  0  0  0  0  3  0  3  7  1  360403107 NaN NaN NaN NaN NaN NaN

   16  17  18  19               Date Odds  O/U  home-score  away-score
0 NaN NaN NaN NaN  2016-04-03T17:00Z  NaN  NaN         4.0         1.0
1 NaN NaN NaN NaN  2016-04-03T17:00Z  NaN  NaN         4.0         1.0
2 NaN NaN NaN NaN  2016-04-03T20:00Z  NaN  NaN         3.0         5.0
3 NaN NaN NaN NaN  2016-04-03T20:00Z  NaN  NaN         3.0         5.0
4 NaN NaN NaN NaN  2016-04-04T00:30Z  NaN  NaN         4.0         3.0

In [63]:
# Sort by 'Date' descending
merged_df = merged_df.sort_values(by='Date', ascending=False)

# Optional: reset index after sort
merged_df = merged_df.reset_index(drop=True)

# Check it out
print(merged_df.tail(10))

      Team  1  2  3  4  5  6  7  8  9   R   H  E       Game  10  11  12  13  \
26922  MIN  0  0  0  0  0  0  2  0  0   2   7  0  360404101 NaN NaN NaN NaN
26923  BAL  0  0  0  0  2  0  0  0  1   3  10  0  360404101 NaN NaN NaN NaN
26924   SF  0  2  2  1  2  0  0  5  0  12  15  0  360404108 NaN NaN NaN NaN
26925  MIL  1  1  1  0  0  0  0  0  0   3   8  1  360404108 NaN NaN NaN NaN
26926  NYM  0  0  0  0  0  0  0  3  0   3   7  1  360403107 NaN NaN NaN NaN
26927   KC  1  0  0  1  0  2  0  0  -   4   9  0  360403107 NaN NaN NaN NaN
26928  TOR  2  0  0  1  0  0  0  2  0   5   7  2  360403130 NaN NaN NaN NaN
26929   TB  0  0  1  0  0  0  0  0  2   3   7  1  360403130 NaN NaN NaN NaN
26930  PIT  0  2  0  0  0  1  0  1  -   4   9  1  360403123 NaN NaN NaN NaN
26931  STL  0  0  0  0  0  0  0  0  1   1   5  0  360403123 NaN NaN NaN NaN

       14  15  16  17  18  19               Date Odds  O/U  home-score  \
26922 NaN NaN NaN NaN NaN NaN  2016-04-04T19:05Z  NaN  NaN         3.0
26923 NaN NaN NaN NaN NaN NaN  2016-04-04T19:05Z  NaN  NaN         3.0
26924 NaN NaN NaN NaN NaN NaN  2016-04-04T18:10Z  NaN  NaN         3.0
26925 NaN NaN NaN NaN NaN NaN  2016-04-04T18:10Z  NaN  NaN         3.0
26926 NaN NaN NaN NaN NaN NaN  2016-04-04T00:30Z  NaN  NaN         4.0
26927 NaN NaN NaN NaN NaN NaN  2016-04-04T00:30Z  NaN  NaN         4.0
26928 NaN NaN NaN NaN NaN NaN  2016-04-03T20:00Z  NaN  NaN         3.0
26929 NaN NaN NaN NaN NaN NaN  2016-04-03T20:00Z  NaN  NaN         3.0
26930 NaN NaN NaN NaN NaN NaN  2016-04-03T17:00Z  NaN  NaN         4.0
26931 NaN NaN NaN NaN NaN NaN  2016-04-03T17:00Z  NaN  NaN         4.0

       away-score
26922         2.0
26923         2.0
26924        12.0
26925        12.0
26926         3.0
26927         3.0
26928         5.0
26929         5.0
26930         1.0
26931         1.0

In [64]:
# Step 1: Create the Matchup string for each GameID
matchup_df = merged_df.groupby('Game')['Team'].apply(' - '.join).reset_index()
matchup_df = matchup_df.rename(columns={'Team': 'Matchup'})

# Step 2: Merge it back into the original DataFrame
merged_df = pd.merge(merged_df, matchup_df, on='Game', how='left')

In [69]:
# Define the valid matchups (both possible orders)
valid_matchups = ['CHC - LAD', 'LAD - CHC']

# Filter the DataFrame
subset_df = merged_df[merged_df['Matchup'].isin(valid_matchups)]

In [ ]:
print(subset_df.head(10))

In [ ]:
subset_df.dtypes

In [88]:
# Specify the columns you want to keep
selected_columns = ['Game', 'Date', 'Matchup','home-score','away-score']

# Subset the DataFrame to only those columns
subset_df = subset_df[selected_columns]

# View the result
print(subset_df.head())

           Game               Date    Matchup  home-score  away-score
2634  401228209  2021-06-27T23:00Z  LAD - CHC         7.0         1.0
2635  401228209  2021-06-27T23:00Z  LAD - CHC         7.0         1.0
2668  401228194  2021-06-26T23:15Z  CHC - LAD         3.0         2.0
2669  401228194  2021-06-26T23:15Z  CHC - LAD         3.0         2.0
2700  401228179  2021-06-26T02:10Z  LAD - CHC         6.0         2.0

In [89]:
df = subset_df.drop(columns=['Game'])  # replace 'Score' with your column name

In [90]:
df = df.drop_duplicates()
print(df.tail())

                    Date    Matchup  home-score  away-score
23078  2016-08-27T02:10Z  LAD - CHC         4.0         6.0
25332  2016-06-02T18:20Z  CHC - LAD         7.0         2.0
25346  2016-06-02T00:00Z  LAD - CHC         2.0         1.0
25374  2016-06-01T00:30Z  CHC - LAD         0.0         5.0
25410  2016-05-30T21:05Z  CHC - LAD         2.0         0.0

In [91]:
df['HomeAway'] = df['Matchup'].apply(lambda x: 'Home' if x == 'LAD - CHC' else 'Away' if x == 'CHC - LAD' else None)

In [85]:
print(df.head())

                   Date    Matchup  home-score  away-score HomeAway
2634  2021-06-27T23:00Z  LAD - CHC         7.0         1.0     Home
2668  2021-06-26T23:15Z  CHC - LAD         3.0         2.0     Away
2700  2021-06-26T02:10Z  LAD - CHC         6.0         2.0     Home
2730  2021-06-25T02:10Z  LAD - CHC         0.0         4.0     Home
4070  2021-05-05T23:30Z  LAD - CHC         6.0         5.0     Home

In [86]:
#tempdf =df
df = tempdf

In [94]:
# Determine Home/Away
df['HomeAway'] = df['Matchup'].apply(lambda x: 'Home' if x == 'LAD - CHC' else 'Away' if x == 'CHC - LAD' else None)

# Add 'Result' column
def determine_result(row):
    if row['HomeAway'] == 'Home':
        return 'W' if row['home-score'] < row['away-score'] else 'L'
    elif row['HomeAway'] == 'Away':
        return 'W' if row['away-score'] < row['home-score'] else 'L'
    return None  # if HomeAway is neither

df['Result'] = df.apply(determine_result, axis=1)

print(df)

                    Date    Matchup  home-score  away-score HomeAway Result
2634   2021-06-27T23:00Z  LAD - CHC         7.0         1.0     Home      L
2668   2021-06-26T23:15Z  CHC - LAD         3.0         2.0     Away      W
2700   2021-06-26T02:10Z  LAD - CHC         6.0         2.0     Home      L
2730   2021-06-25T02:10Z  LAD - CHC         0.0         4.0     Home      W
4070   2021-05-05T23:30Z  LAD - CHC         6.0         5.0     Home      L
4102   2021-05-04T23:40Z  CHC - LAD         4.0         3.0     Away      W
4120   2021-05-04T18:20Z  CHC - LAD         7.0         1.0     Away      W
9696   2019-06-16T23:00Z  LAD - CHC         3.0         2.0     Home      L
9726   2019-06-16T01:10Z  LAD - CHC         1.0         2.0     Home      W
9758   2019-06-15T02:00Z  LAD - CHC         5.0         3.0     Home      L
9786   2019-06-14T02:10Z  CHC - LAD         7.0         3.0     Away      W
11114  2019-04-25T18:20Z  CHC - LAD         1.0         2.0     Away      L
11122  2019-04-25T00:05Z  CHC - LAD         7.0         6.0     Away      W
11158  2019-04-24T00:05Z  LAD - CHC         7.0         2.0     Home      L
12016  2019-03-21T02:05Z  CHC - LAD         4.0         4.0     Away      L
14588  2018-06-28T19:10Z  LAD - CHC         5.0        11.0     Home      W
14600  2018-06-28T02:00Z  LAD - CHC         7.0         5.0     Home      L
14630  2018-06-27T02:00Z  LAD - CHC         4.0         9.0     Home      W
14658  2018-06-26T02:00Z  LAD - CHC         2.0         1.0     Home      L
14808  2018-06-20T18:20Z  CHC - LAD         4.0         0.0     Away      W
14834  2018-06-20T00:05Z  CHC - LAD         2.0         1.0     Away      W
14850  2018-06-19T17:05Z  CHC - LAD         3.0         4.0     Away      L
17022  2017-10-20T00:08Z  LAD - CHC         1.0        11.0     Home      W
17024  2017-10-19T01:01Z  LAD - CHC         3.0         2.0     Home      L
17028  2017-10-18T01:00Z  CHC - LAD         1.0         6.0     Away      L
17034  2017-10-15T23:38Z  LAD - CHC         4.0         1.0     Home      L
17036  2017-10-15T00:08Z  LAD - CHC         5.0         2.0     Home      L
20474  2017-05-28T20:10Z  LAD - CHC         9.0         4.0     Home      L
20507  2017-05-27T23:15Z  LAD - CHC         5.0         0.0     Home      L
20536  2017-05-27T02:10Z  LAD - CHC         4.0         0.0     Home      L
21702  2017-04-13T18:20Z  CHC - LAD         4.0         0.0     Away      W
21716  2017-04-13T00:05Z  LAD - CHC         0.0         2.0     Home      W
21766  2017-04-11T00:00Z  CHC - LAD         3.0         2.0     Away      W
21994  2016-10-23T00:00Z  CHC - LAD         5.0         0.0     Away      W
21996  2016-10-21T00:00Z  LAD - CHC         4.0         8.0     Home      W
21998  2016-10-20T00:00Z  CHC - LAD         2.0        10.0     Away      L
22002  2016-10-19T00:00Z  LAD - CHC         6.0         0.0     Home      L
22008  2016-10-17T00:00Z  CHC - LAD         0.0         1.0     Away      L
22010  2016-10-16T00:00Z  CHC - LAD         8.0         4.0     Away      W
23020  2016-08-28T20:10Z  LAD - CHC         1.0         0.0     Home      L
23068  2016-08-27T20:05Z  LAD - CHC         3.0         2.0     Home      L
23078  2016-08-27T02:10Z  LAD - CHC         4.0         6.0     Home      W
25332  2016-06-02T18:20Z  CHC - LAD         7.0         2.0     Away      W
25346  2016-06-02T00:00Z  LAD - CHC         2.0         1.0     Home      L
25374  2016-06-01T00:30Z  CHC - LAD         0.0         5.0     Away      L
25410  2016-05-30T21:05Z  CHC - LAD         2.0         0.0     Away      W

In [95]:
# Group by 'HomeAway' and count 'Result'
summary = df.groupby('HomeAway')['Result'].value_counts().unstack().fillna(0).astype(int)

print(summary)

Result     L   W
HomeAway
Away       7  13
Home      18   8

In [ ]:
summary['Total'] = summary.sum(axis=1)

In [ ]:
print(summary)